<!DOCTYPE html>
<html lang="en">
  <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
        <!-- Optional theme --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript --> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="styled3oid.css" rel="stylesheet" type="text/css">
  </head>

  <body>
      
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Dashboard</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Orders</a></li>
            <li><a href="dashboard2_products.html">Products</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log off</a></li>
          </ul>
        </div>
      </nav>

      <div class="wrapper">


        <p id="p1">Order ID: 15<br>
          Customer shipping info:<br>
          name: Michael Jordan<br>
          address: 650 South Fair Oaks<br>
          city: Sunnyvale<br>
          state: CA<br>
          zip: 94086<br>
        </p>

      <table class="table table-bordered">
          <tr class="active">
              <th>ID</th>
              <th>Item</th> 
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>

            </tr>
            <tr>
              <td>3</td>
              <td>Maqui Powder</td> 
              <td>$16.50</td>
              <td>2</td>
              <td>$33.00</td> 
            </tr>
            <tr>
              <td>5</td>
              <td>Maqui Berry</td> 
              <td>$4.99</td>
              <td>1</td>
              <td>$4.99</td> 
          </tr>
      </table>

      <p id="p2"> Sub total: $37.99 <br>
        Shipping: $5.00 <br>
        Total Price: $42.99</p>
        
      <p id="p3">Status: shipped</p>

    </div>

  </body>

</html>
