<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Ajax Demo</title>
    <style>
        img {
            width:350px;
        }
    </style>
</head>
<body>

    <form action='/funny_pictures' id='myForm' method='POST'>
        <select name='count'>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='5'>5</option>
        </select>
        <input type='submit' id='submitButton' value='Fetch request from localhost/funny_pictures' />
    </form>

    <div id='placeholder'></div>

    <script>
    
    $('#submitButton').click(function(){
        console.log('hello');
        console.log('will be passing the following data', $('#myForm').serialize());
        $.ajax({
            url: '/funny_pictures',
            data: $('#myForm').serialize(),
            method: 'POST',
            success: function(response){
                $('#placeholder').prepend(response);
            }
        });
        return false;
    });
    
    </script>

</body>
</html>